@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h3>Upload Image</h3>

<InputFile OnChange="HandleFileSelected" />
<img src="data:image/jpeg;base64,@imageString" />
